.custom-button {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 40px;
        padding: 5px;

        color: #323232;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background: #fff;
    }
    &__title {
        margin-bottom: 0;
        text-transform: capitalize;
    }
}
