@import 'veriables';

.button {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;

        cursor: pointer;
        transition: 250ms;

        background: rgb(0, 120, 195);

        &--disabled {
            cursor: default;

            opacity: 0.6;
            border: none;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        padding: 10px 10px;

        text-align: center;

        color: #fff;
    }
}
