
.slide{
    background: none !important;
}

.control-arrow{
    background: rgb(195, 195, 195) !important;
}


.question{
    &__container {
        display: flex;
        flex-direction: column;

        padding: 10%;

        text-align: start;

    }
     &__answer {
        display: flex;
        align-items: center;

        margin-top: 3%;

    }
}

.questions{
    &__container {
       width: 100%;

      background: white;
    }
}

.btn-margin{
  margin: 6px 64px;
}
