.custom-checkbox {
    &__container {
        position: relative;

        display: flex;
        align-items: center;
    }
    &__shell {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
    &__checkbox {
        color: #6c6c6c;
    }
}
