.statistics {
    &__description {
        margin-bottom: 10px;
    }
    &__hint-container {
        padding: 10px;

        color: #fff;
        background: #2675c0;
    }
    &__container {
        padding: 20px;

        background: #e4e4e4;
    }
}
