body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-size: 100%;
}

a {
    color: #435049;
    transition-duration: 120ms;
    border-bottom: 1px solid transparent;

    &:hover {
        transition-duration: 120ms;
        border-bottom: 1px solid #435049;
    }
}

path {
    color: inherit;
}

p {
    margin-bottom: 0;
}

* {
    margin: 0;
    padding: 0;

    text-decoration: none;

    outline: none;

    font-family: "Open Sans";
    font-weight: 300;
}

.sk-fading-circle div:before {
    background: rgb(67, 80, 73) !important;
}

input:disabled {
    background: inherit;
}

.spinner-margin {
    margin-top: 100px;
}

.margin-reset {
    margin: 0;
}
